<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnPhpunitDeprecations="true"
        displayDetailsOnPhpunitNotices="true"
>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">tests/Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>